body {
    margin-top: 100px;
    font-family: sans-serif;
    text-align: center;
    font-size: large;
    justify-content: center;
    margin: 0px;
    flex: 1 1 auto;
}

.nav {
    position: fixed;
    width: 100%;
    max-width: 1062px;
    /* border-radius: 20px; */
    color: white;
    text-align: center;
    background-color: rgb(24, 49, 80);
}


.nav a {
    text-decoration: none;
    margin: 20px 25px 20px 25px;
    color: white;
    display: inline-block;
    list-style-type: none;
}

/* tittle */
.title {
    text-align: center;
    color: black;
    font-weight: 800;
    font-size: 30px;
    content: "";
    clear: both;
}

.columnUp {
    display: inline-block;
    height: 20%;
    /* width: 20%; */
    /* padding: 10px; */
}

/* FILOSOFI */
.fl {
    background-color: white;
    box-shadow: 0px 10px 5px 0px #888888;
    padding: 30px;
    width: 60%;
    border-radius: 30px;
    transform: translate(0px, -80px);
}

.column {
    float: left;
    width: 33.33%;
    /* padding: 10px; */
}

.columnProfil {
    display: inline-block;
    width: 20%;
}

.imageProfil {
    border-radius: 50%;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}